[submodule "lib/cpputil"]
	path = lib/cpputil
	url = https://github.com/Juicestus/cpputil
[submodule "lib/websocket"]
	path = lib/websocket
	url = https://github.com/Juicestus/websocket
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "client-roadrunner"]
	path = client-roadrunner
	url = https://github.com/TAMU-Formula-SAE-EV/roadrunner-build.git
