<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Button Example</title>
    <script>
        async function send() {
            const inputContent = document.getElementById('userInput').value;
            try {
                const response = await fetch('/post-data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ data: inputContent }),
                });
                console.log(await response.json());
            } catch (error) {
                console.error("Error making POST request:", error);
            }
        }

        setInterval(function() {
            fetch('/get-latest/100')
                .then(response => response.json())
                .then(data => {
                    const log = document.getElementById('log');
                    log.innerHTML = '';
                    data.forEach(item => {
                        const p = document.createElement('p');
                        p.textContent = item['head'] + ' - ' + item['content'];
                        log.appendChild(p);
                    });

                });
        }, 100);
    </script>
</head>
<body>
    <h2>Transmit</h2>
    <button onclick="send()">Send Data</button>
    <input type="text" id="userInput" placeholder="Some data..." />

    <h2>Log</h2>
    <div id="log"></div>

</body>
</html>
